Installation Order:
1. Ensure `python==3.11.5` is installed.  
2. Follow the execution sequence in `compute_offset_WAIRD.ipynb` to identify required packages, then install them using the versions specified in the table below. 


# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main    http://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
_openmp_mutex             5.1                       1_gnu    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
absl-py                   2.1.0              pyhd8ed1ab_1    conda-forge
accelerate                0.34.2                   pypi_0    pypi
aenum                     3.1.15                   pypi_0    pypi
aiofiles                  23.2.1                   pypi_0    pypi
aiohappyeyeballs          2.4.4                    pypi_0    pypi
aiohttp                   3.11.11                  pypi_0    pypi
aiosignal                 1.3.2                    pypi_0    pypi
annotated-types           0.7.0                    pypi_0    pypi
antlr4-python3-runtime    4.9.3                    pypi_0    pypi
anyio                     4.6.0                    pypi_0    pypi
asttokens                 3.0.0              pyhd8ed1ab_1    conda-forge
attrs                     24.3.0                   pypi_0    pypi
av                        13.0.0                   pypi_0    pypi
blas                      1.0                         mkl    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
boltons                   23.0.0          py311h06a4308_0    defaults
bottleneck                1.4.2           py311hf4808d0_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
brotlipy                  0.7.0           py311h5eee18b_1002    defaults
bzip2                     1.0.8                h7b6447c_0    defaults
c-ares                    1.19.1               h5eee18b_0    defaults
ca-certificates           2024.12.14           hbcca054_0    conda-forge
certifi                   2024.12.14         pyhd8ed1ab_0    conda-forge
cffi                      1.15.1          py311h5eee18b_3    defaults
charset-normalizer        2.0.4              pyhd3eb1b0_0    defaults
click                     8.1.7                    pypi_0    pypi
comm                      0.2.2              pyhd8ed1ab_1    conda-forge
conda                     23.9.0          py311h06a4308_0    defaults
conda-content-trust       0.2.0           py311h06a4308_0    defaults
conda-libmamba-solver     23.9.1          py311h06a4308_0    defaults
conda-package-handling    2.2.0           py311h06a4308_0    defaults
conda-package-streaming   0.9.0           py311h06a4308_0    defaults
contourpy                 1.3.0                    pypi_0    pypi
cryptography              41.0.3          py311hdda0065_0    defaults
cycler                    0.12.1                   pypi_0    pypi
debugpy                   1.8.11          py311h6a678d5_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
decorator                 5.1.1              pyhd8ed1ab_1    conda-forge
decord                    0.6.0                    pypi_0    pypi
et-xmlfile                2.0.0                    pypi_0    pypi
exceptiongroup            1.2.2              pyhd8ed1ab_1    conda-forge
executing                 2.1.0              pyhd8ed1ab_1    conda-forge
fastapi                   0.115.0                  pypi_0    pypi
ffmpy                     0.4.0                    pypi_0    pypi
filelock                  3.16.1                   pypi_0    pypi
fmt                       9.1.0                hdb19cb5_0    defaults
fonttools                 4.54.1                   pypi_0    pypi
frozenlist                1.5.0                    pypi_0    pypi
fsspec                    2024.9.0                 pypi_0    pypi
gradio                    4.44.0                   pypi_0    pypi
gradio-client             1.3.0                    pypi_0    pypi
grpcio                    1.62.2          py311h6a678d5_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
h11                       0.14.0                   pypi_0    pypi
httpcore                  1.0.5                    pypi_0    pypi
httpx                     0.27.2                   pypi_0    pypi
huggingface-hub           0.25.1                   pypi_0    pypi
hydra-core                1.3.2                    pypi_0    pypi
icu                       73.1                 h6a678d5_0    defaults
idna                      3.4             py311h06a4308_0    defaults
importlib-metadata        8.5.0              pyha770c72_1    conda-forge
importlib-resources       6.4.5                    pypi_0    pypi
intel-openmp              2021.4.0          h06a4308_3561    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
ipykernel                 6.29.5             pyh3099207_0    conda-forge
ipython                   8.31.0             pyh707e725_0    conda-forge
jedi                      0.19.2             pyhd8ed1ab_1    conda-forge
jinja2                    3.1.4                    pypi_0    pypi
joblib                    1.4.2              pyhd8ed1ab_1    http://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
jsonpatch                 1.32               pyhd3eb1b0_0    defaults
jsonpointer               2.1                pyhd3eb1b0_0    defaults
jupyter_client            8.6.3              pyhd8ed1ab_1    conda-forge
jupyter_core              5.7.2              pyh31011fe_1    conda-forge
kiwisolver                1.4.7                    pypi_0    pypi
krb5                      1.20.1               h143b758_1    defaults
ld_impl_linux-64          2.38                 h1181459_1    defaults
libabseil                 20240116.2      cxx17_h6a678d5_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libarchive                3.6.2                h6ac8c49_2    defaults
libcurl                   8.2.1                h251f7ec_0    defaults
libedit                   3.1.20221030         h5eee18b_0    defaults
libev                     4.33                 h7f8727e_1    defaults
libffi                    3.4.4                h6a678d5_0    defaults
libgcc-ng                 11.2.0               h1234567_1    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libgfortran-ng            11.2.0               h00389a5_1    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libgfortran5              11.2.0               h1234567_1    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libgomp                   11.2.0               h1234567_1    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libgrpc                   1.62.2               h2d74bed_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libmamba                  1.5.1                haf1ee3a_0    defaults
libmambapy                1.5.1           py311h2dafd23_0    defaults
libnghttp2                1.52.0               h2d74bed_1    defaults
libprotobuf               4.25.3               he621ea3_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libsodium                 1.0.18               h36c2ea0_1    conda-forge
libsolv                   0.7.24               he621ea3_0    defaults
libssh2                   1.10.0               hdbd6064_2    defaults
libstdcxx-ng              11.2.0               h1234567_1    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libuuid                   1.41.5               h5eee18b_0    defaults
libxml2                   2.10.4               hf1b16e4_1    defaults
lightly                   1.5.16                   pypi_0    pypi
lightly-utils             0.0.2                    pypi_0    pypi
lightning-utilities       0.11.9                   pypi_0    pypi
lz4-c                     1.9.4                h6a678d5_0    defaults
markdown                  3.6                pyhd8ed1ab_0    conda-forge
markdown-it-py            3.0.0                    pypi_0    pypi
markupsafe                2.1.5                    pypi_0    pypi
matplotlib                3.10.0                   pypi_0    pypi
matplotlib-inline         0.1.7              pyhd8ed1ab_1    conda-forge
mdurl                     0.1.2                    pypi_0    pypi
mkl                       2021.4.0           h06a4308_640    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mkl-service               2.4.0           py311h5eee18b_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mkl_fft                   1.3.1           py311h30b3d60_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mkl_random                1.2.2           py311hba01205_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mpmath                    1.3.0                    pypi_0    pypi
multidict                 6.1.0                    pypi_0    pypi
ncurses                   6.4                  h6a678d5_0    defaults
nest-asyncio              1.6.0              pyhd8ed1ab_1    conda-forge
networkx                  3.3                      pypi_0    pypi
numexpr                   2.8.4           py311h802d673_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
numpy                     1.24.3          py311hc206e33_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
numpy-base                1.24.3          py311hfd5febd_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
nvidia-cublas-cu12        12.1.3.1                 pypi_0    pypi
nvidia-cuda-cupti-cu12    12.1.105                 pypi_0    pypi
nvidia-cuda-nvrtc-cu12    12.1.105                 pypi_0    pypi
nvidia-cuda-runtime-cu12  12.1.105                 pypi_0    pypi
nvidia-cudnn-cu12         9.1.0.70                 pypi_0    pypi
nvidia-cufft-cu12         11.0.2.54                pypi_0    pypi
nvidia-curand-cu12        10.3.2.106               pypi_0    pypi
nvidia-cusolver-cu12      11.4.5.107               pypi_0    pypi
nvidia-cusparse-cu12      12.1.0.106               pypi_0    pypi
nvidia-nccl-cu12          2.20.5                   pypi_0    pypi
nvidia-nvjitlink-cu12     12.6.68                  pypi_0    pypi
nvidia-nvtx-cu12          12.1.105                 pypi_0    pypi
omegaconf                 2.3.0                    pypi_0    pypi
opencv-contrib-python     4.8.1.78                 pypi_0    pypi
opencv-python             4.8.1.78                 pypi_0    pypi
opencv-python-headless    4.8.1.78                 pypi_0    pypi
openpyxl                  3.1.5                    pypi_0    pypi
openssl                   3.0.15               h5eee18b_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
orjson                    3.10.7                   pypi_0    pypi
packaging                 23.1            py311h06a4308_0    defaults
pandas                    2.2.3                    pypi_0    pypi
parso                     0.8.4              pyhd8ed1ab_1    conda-forge
pcre2                     10.42                hebb0a14_0    defaults
pexpect                   4.9.0              pyhd8ed1ab_1    conda-forge
pickleshare               0.7.5           pyhd8ed1ab_1004    conda-forge
pillow                    11.1.0                   pypi_0    pypi
pip                       23.2.1          py311h06a4308_0    defaults
platformdirs              4.3.6              pyhd8ed1ab_1    conda-forge
pluggy                    1.0.0           py311h06a4308_1    defaults
prompt-toolkit            3.0.48             pyha770c72_1    conda-forge
propcache                 0.2.1                    pypi_0    pypi
protobuf                  4.25.3          py311he36ed58_1    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
psutil                    6.0.0                    pypi_0    pypi
ptyprocess                0.7.0              pyhd8ed1ab_1    conda-forge
pure_eval                 0.2.3              pyhd8ed1ab_1    conda-forge
pybind11-abi              4                    hd3eb1b0_1    defaults
pycosat                   0.6.6           py311h5eee18b_0    defaults
pycparser                 2.21               pyhd3eb1b0_0    defaults
pydantic                  2.9.2                    pypi_0    pypi
pydantic-core             2.23.4                   pypi_0    pypi
pydub                     0.25.1                   pypi_0    pypi
pygments                  2.18.0                   pypi_0    pypi
pyopenssl                 23.2.0          py311h06a4308_0    defaults
pyparsing                 3.1.4                    pypi_0    pypi
pysocks                   1.7.1           py311h06a4308_0    defaults
python                    3.11.5               h955ad1f_0    defaults
python-dateutil           2.9.0.post0        pyhff2d567_1    conda-forge
python-multipart          0.0.10                   pypi_0    pypi
python-tzdata             2024.2             pyhd8ed1ab_1    http://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
pytorch-lightning         2.5.0.post0              pypi_0    pypi
pytz                      2024.2             pyhd8ed1ab_1    http://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
pyyaml                    6.0.2                    pypi_0    pypi
pyzmq                     26.2.0          py311h6a678d5_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
qwen-vl-utils             0.0.8                    pypi_0    pypi
re2                       2022.04.01           h27087fc_0    conda-forge
readline                  8.2                  h5eee18b_0    defaults
regex                     2024.9.11                pypi_0    pypi
reproc                    14.2.4               h295c915_1    defaults
reproc-cpp                14.2.4               h295c915_1    defaults
requests                  2.31.0          py311h06a4308_0    defaults
rich                      13.8.1                   pypi_0    pypi
ruamel.yaml               0.17.21         py311h5eee18b_0    defaults
ruff                      0.6.7                    pypi_0    pypi
safetensors               0.4.5                    pypi_0    pypi
scikit-learn              1.5.2           py311h6a678d5_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
scipy                     1.15.1                   pypi_0    pypi
semantic-version          2.10.0                   pypi_0    pypi
setuptools                68.0.0          py311h06a4308_0    defaults
shellingham               1.5.4                    pypi_0    pypi
six                       1.16.0                   pypi_0    pypi
sniffio                   1.3.1                    pypi_0    pypi
sqlite                    3.41.2               h5eee18b_0    defaults
stack_data                0.6.3              pyhd8ed1ab_1    conda-forge
starlette                 0.38.6                   pypi_0    pypi
sympy                     1.13.3                   pypi_0    pypi
tensorboard               2.18.0             pyhd8ed1ab_1    conda-forge
tensorboard-data-server   0.7.0           py311h52d8a92_1    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
threadpoolctl             3.5.0              pyhc1e730c_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
timm                      1.0.13                   pypi_0    pypi
tk                        8.6.12               h1ccaba5_0    defaults
tokenizers                0.19.1                   pypi_0    pypi
tomlkit                   0.12.0                   pypi_0    pypi
torch                     2.4.1                    pypi_0    pypi
torchmetrics              1.6.1                    pypi_0    pypi
torchvision               0.19.1                   pypi_0    pypi
tornado                   6.4.2           py311h5eee18b_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
tqdm                      4.65.0          py311h92b7b1e_0    defaults
traitlets                 5.14.3             pyhd8ed1ab_1    conda-forge
transformers              4.45.0.dev0              pypi_0    pypi
triton                    3.0.0                    pypi_0    pypi
truststore                0.8.0           py311h06a4308_0    defaults
typer                     0.12.5                   pypi_0    pypi
typing_extensions         4.12.2             pyha770c72_1    conda-forge
tzdata                    2023c                h04d1e81_0    defaults
urllib3                   2.2.3                    pypi_0    pypi
uvicorn                   0.30.6                   pypi_0    pypi
wcwidth                   0.2.13             pyhd8ed1ab_1    conda-forge
websockets                12.0                     pypi_0    pypi
werkzeug                  2.0.3              pyhd8ed1ab_1    conda-forge
wheel                     0.41.2          py311h06a4308_0    defaults
xz                        5.4.2                h5eee18b_0    defaults
yaml-cpp                  0.7.0                h295c915_1    defaults
yarl                      1.18.3                   pypi_0    pypi
zeromq                    4.3.5                h6a678d5_0    http://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
zipp                      3.21.0             pyhd8ed1ab_1    conda-forge
zlib                      1.2.13               h5eee18b_0    defaults
zstandard                 0.19.0          py311h5eee18b_0    defaults
zstd                      1.5.5                hc292b87_0    defaults
